<nb-card accent="info">
  <nb-card-header>Search by domain</nb-card-header>
  <nb-card-body>
    <input type="text" class="ip-keyword" placeholder="Enter domain..." [(ngModel)]="domain">
    <button nbButton status="primary" size="giant" style="float:right" (click)="onSearchBtnClk()">Search</button>
  </nb-card-body>
</nb-card>

<div class="row">
  <div class="col-md-4" *ngFor="let item of data">
    <nb-card>
      <nb-card-header><b>{{ item.title }}</b></nb-card-header>
      <nb-card-body>
        <i>{{ item.body }}</i>
        <div>
          <span class="dates">First seen: {{ item.first_seen }}</span>
          <span class="dates" style="float: right">Last seen: {{ item.last_seen }}</span>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <a [href]="'http://' + item.display_url" target="_blank">{{ item.advertiser }}</a>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
